
html {
    scroll-behavior: smooth;
}

body{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 0 0 0 4em;
}

section{
    margin: 2em 0;
    padding: 2em 0;
}

#welcome{
    padding-bottom: 0;
}

nav{
    transition: width 0.5s;
    z-index: 2;
    background-color: #192841;
    position: fixed;
    left: 0;
    height: 100%;
    border-right: black solid 3px;
}
h1{
    color: #192841;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    margin: 1em 0;
    font-family: 'Sora', sans-serif;
}

h2{
    margin: 25px 0;
    font-family: 'Sora', sans-serif;
}

.links{
    width: 100%;
    margin: 0 auto;
    align-content:  center;
}

nav ul{
    padding:0;
    list-style: none;
    border-bottom: 3px white solid;

}

.sectionLabel{
    display: none;
    position: absolute;
    left: 4.5em;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    border: black solid 2px;
}

.sectionLabel h5{
    margin: 0;
}

nav li{
    width: 100%;
    color: white;
    display: grid;
    margin: 1em auto;
    height: 3em;
    text-align: center;
    border-radius: 10px;
    align-items: center;
}

a{
    color: white;
}

.expandLabel{
color: white;
}


.expandMenu{
    width: 90%;
    margin: auto;
    text-align: left;
}


nav li:hover{
    border: white solid 3px;
    background-color: white;
}

.textOptions{
    display: block !important;
    float: right;
    color: green;
}

.expandID h5{
    left: 4em;
    position: absolute;
    display: inline-block;
    opacity: 0;
}

.importantDisplay{
    opacity: 100% !important;
}


nav li:hover .mediumIcon{
    color: black;
}

nav li:hover .titleID{
    color: black;
}

.hoverIcon:hover .sectionLabel{
    display: block;
}

.card{
    transition: opacity 0.5s ease;
    margin: auto;
}


nav img{
    vertical-align: middle;
    width: 60%;

}

#rightarrow{
    height: 6em;
    width: 6em;
    position: absolute;
    top: 40%;
    left: 50%;
}

#rightarrow:hover{
    height: 6.5em;
    width: 6.5em;
}


#welcome h1{
    position: relative;
    top: 1em;
    margin-bottom: 1em;
    font-size: 500%;
    margin-top: 0;
}

#explorebutton, #minimiseButton{
    opacity: 100%;
    background: none;
    border: none;
    margin: auto;
}

#optionsContainer{
    border: black solid 2px;
}


#minimiseButton{
    border: none;
}

#explorebutton:hover, #minimiseButton:hover{
    transition: opacity .5s ease-out;
    opacity: 40%;
}

.largeIcon{
    color: black;
    font-size: 400%;
}

.mediumIcon{
    font-size: 200%;
}

.noBackground{
    background: none;
    border: none;
}


#education h1, #skills h1{
    font-size: 300%;
}


.multi-carousel-item{
    width: 20vw;
}


#skillsContainer .row{
    align-items: center;
    margin: 1em;
}

#projectContainer .card:hover .card-img-top, #projectContainer .card:hover .card-body{
    opacity: 10%;
}

#javaContainer{
    width: 80%;
}

#projectContainer .card:hover .fadeText{
    opacity: 100%;
}












.typewriter{
    width: 23em;
    margin: auto;
    padding-top: 5em;
}

.typewriter h1 {
    font-size: 45px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto 2em ; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .14em; /* Adjust as needed */
    animation:
            typing 1s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.topimage{
    bottom: 0;
    text-align: center;
}


.topimage img{
    opacity: 50%;
    position: relative;
    margin: auto;
    top: 5em;
    width: 100%;
}

.topimage img:hover{
    transition: opacity .5s ease-out;
    opacity: 1;
}



.contactinfo{
    text-align: center;
    background: white;
    padding: 20px;
    word-wrap: break-word;
}


#educationContainer{
    padding: 2em;
    text-align: left;
    border: black solid 4px;
    border-radius: 3em;
}

#modules{
    opacity: 50%;
}

.tagger{
    box-shadow: black 2px 2px;
    margin: 2px;
    padding: 2px;
    display: inline-block;
    background-color: lightblue;
    border-radius: 5px;
    border: black solid 2px;
    width: auto;
    opacity: 80%;
}

.progress-bar{
    background-color: lightblue;
    opacity: 80%;
}


.carousel-indicators{
    z-index: 2;
    bottom: -3em;
}

.carousel-indicators li {
    background-color: black;
}

#back, #back2{
    position: absolute;
    left: -4em;
    top: 40%;
}

#next, #next2{
    position: absolute;
    right: -4em;
    top: 40%;
}

#overlay {
    transition: .5s ease;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


.stopScrolling{
    height: 100%;
    overflow: hidden;
}


#overlayContent{
    transition: .5s ease;
    width: 60vw;
    height: 100%;
    margin: auto;
}

#overlayWrapper{
    position: absolute;
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}

.square{
    background-color: white;
    height: 30vh;
}

#optionsContainer h3{
    top: 40%;
    position: relative;
}

#optionsContainer{
    border-radius: 20px;
}

#emailInput, #messageInput{
    width: 70%;
}

#emailInput input, #messageInput textarea{
    border: black solid 2px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

#messageInput textarea{
    height: 10em;
}

.modal-dialog{
    max-width: none;
    width: 80vw;
}

.modal-body{
    height: 70vh;
    overflow-y: scroll;
}

.projectThumbnail{
    height: auto;
    width: 100%;
}

#emailbtn{
    background: white;
    border: black solid 2px;
    box-shadow: black 2px 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#overlay {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 11, 121, 1) 52%, rgba(0, 212, 255, 1) 100%);
}

#earth{
    margin: auto;
    height: 30vh;
    width: auto;
    animation-name: rotate;
    animation-iteration-count:infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
}


.bottomButton{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#titleName{
    font-family: 'Amatic SC', cursive;
    text-shadow: none;
    color: white;
    font-size: 600%;
    margin-bottom: 0;
}

#exploreText{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 300%;
}

#titleDesc, #titleDescrip{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 300%;
}

#titleDescrip{
    font-size: 250%;
}

.fadeText{
    position: absolute;
    align-self: center;
    top: 48%;
    opacity: 0;
    font-weight: bold;
}

.fa-star{
    font-size: 40%;
    position: absolute;
    color: RGB(255,253,116);
    animation-name: stars;
    animation-iteration-count:infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes stars {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(2);
    }
    75% {
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
}

}

#sec_about{
    margin-top: 0;
    padding-top: 2em;
    background-color: #ADD8E6;
    border-bottom: #192841 solid 5px;
    border-top: #192841 solid 5px;
  /*  background: rgb(82,205,255);
    background: linear-gradient(180deg, rgba(82,205,255,1) 0%, rgba(242,251,250,1) 85%, rgba(255,255,255,1) 100%);
*/}

#taggerSummary {
    transform: skewY(11deg);
    margin: auto;
    width: 80%;
}

#summaryBackground{
    transform: skewY(-11deg);
    padding: 3em 0;
    background-color: #FFE5B4;
    border-top: 5px solid #192841;
    border-bottom: 5px solid #192841;
}

#tagCloudTitle{
    margin: 0.8em 0 0.5em;
}

#education{
    background-color: #ebffe5;
    border-top: #192841 5px solid;
    border-bottom: #192841 5px solid;
}

/*
#projects {
    background: rgb(255, 216, 70);
    background: radial-gradient(circle, rgba(255, 216, 70, 1) 0%, rgba(255, 194, 107, 1) 100%);
}

#projectsContent{
    transform: skewY(-11deg);
}*/

#educationContainer {
    background-color: white;
    box-shadow: black 5px 5px;
}

.contactInfoDiv{
    box-shadow: black 5px 5px;
    background: #FFFCC9;
    border: #192841 solid 5px;
    width: 50%;
    margin: auto;
    border-radius: 20px;
}

.websiteLink{
    color: black;
}

.vAlign{
    align-self: center;
}

.websiteLink{
    word-break: break-all;
}

.titleID{
    margin: 0.3em 0 0 0;
}