
html {
    scroll-behavior: smooth;
}

body{
    transition: all 0.5s;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    /*margin: 0 0 0 20em;*/
    margin: 0;
}

p{
    font-size: 18px;
}

#notIntro{
    display: none;
    margin: auto;
    width: 80%;
    background-color: white;
}

section{
    margin: 2em 0;
    padding: 2em 1em;
}

#welcome{
    padding-bottom: 0;
}

#nav{
    transition: all 0.5s;
    z-index: 2;
    background-color: #192841;
    position: fixed;
    left: 0;
    height: 100%;
    overflow: hidden;
}

h1{
    color: #192841;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    margin: 0 0 1em;
    font-family: 'Sora', sans-serif;
}

h2{
    margin: 25px 0;
    font-family: 'Sora', sans-serif;
}

.links{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    align-content:  center;
}

section{
    min-height: 100vh;
    padding: 2em 0;
}

#sections{
    width: 80%;
    margin: auto;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#profilePic{
    transition: all .5s ease-out;
    width:80%;
    margin: auto;
    border-radius: 100%;
    border: #192841 solid 10px;
}


#profilePic:hover{
    width:85%; margin: auto;
    border: black solid 8px;
}



nav ul{
    padding:0;
    list-style: none;
}

#externalLinks{
    border-top: white solid 4px;
    width: 80%;
    margin: auto;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.sectionLabel{
    display: none;
    position: absolute;
    left: 4.5em;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    border: black solid 2px;
}

.sectionLabel h5{
    margin: 0;
}

nav li{
    width: 100%;
    color: white;
    display: grid;
    margin: 1em auto;
    height: 3em;
    text-align: center;
    border-radius: 10px;
    align-items: center;
}

a{
    color: white;
}

.expandLabel{
color: white;
}


.expandMenu{
    width: 90%;
    margin: auto;
    text-align: left;
}


nav li:hover{
    border: white solid 3px;
    background-color: white;
}

nav:hover{
    overflow: visible;
}

.textOptions{
    display: block !important;
    float: right;
    color: green;
}

.expandID h5{
    transition: all 0.2s;
    left: 30%;
    position: absolute;
    display: inline-block;
    opacity: 0;
}

.importantDisplay{
    opacity: 100% !important;
}


nav li:hover .mediumIcon{
    color: black;
}

nav li:hover .titleID{
    color: black;
}

.hoverIcon:hover .sectionLabel{
    display: block;
}

.card{
    transition: opacity 0.5s ease;
    margin: auto;
}


nav img{
    vertical-align: middle;
    width: 60%;

}

#rightarrow{
    height: 6em;
    width: 6em;
    position: absolute;
    top: 40%;
    left: 50%;
}

#rightarrow:hover{
    height: 6.5em;
    width: 6.5em;
}


#welcome h1{
    position: relative;
    top: 1em;
    margin-bottom: 1em;
    font-size: 500%;
    margin-top: 0;
}

#minimiseButton{
    opacity: 100%;
    background: none;
    border: none;
    margin: auto;
}

#explorebutton i{
    color: white !important;
}

#optionsContainer{
    border: black solid 2px;
}


.navigationButton{
    z-index: 3000000;
    position: fixed;
    border: none;
    opacity: 50%;
    background: none;
    color: black;
}

#nextButton{
    bottom: 0;
}

#rightButton{
    right: 0;
    top: 45vh;
    display: none;
}

#leftButton{
    left: 5em;
    top: 45vh;
    display: none;
}

#maximiseButton:hover, #minimiseButton:hover{
    transition: opacity .5s ease-out;
    opacity: 40%;
}

.navigationButton:hover{
    transition: opacity .5s ease-out;
    opacity: 100%;

}

.largeIcon{
    color: black;
    font-size: 400%;
}

.whiteIcon{
    color: white;
    font-size: 400%;
}

.mediumIcon{
    font-size: 200%;
}

.noBackground{
    background: none;
    border: none;
}

#skills{
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

#skillsContainer{
    min-width: 70vw;
}


#education h1, #skills h1{
    font-size: 300%;
}


.multi-carousel-item{
    width: 20vw;
}


#skillsContainer .row{
    align-items: center;
    margin: 1em;
}

#projectContainer .card:hover .card-img-top, #projectContainer .card:hover .card-body{
    opacity: 10%;
}

#javaContainer{
    width: 80%;
}

#projectContainer .card:hover .fadeText{
    opacity: 100%;
}












.typewriter{
    width: 23em;
    margin: auto;
    padding-top: 5em;
}

.typewriter h1 {
    font-size: 45px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto 2em ; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .14em; /* Adjust as needed */
    animation:
            typing 1s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.topimage{
    bottom: 0;
    text-align: center;
}


.topimage img{
    opacity: 50%;
    position: relative;
    margin: auto;
    width: 100%;
}

.topimage img:hover{
    transition: opacity .5s ease-out;
    opacity: 1;
}

#contact{
    margin-bottom: 0;
    padding-bottom: 0;
}

.contactinfo{
    text-align: center;
    background: white;
    padding: 20px;
    word-wrap: break-word;
}


#educationContainer{
    text-align: left;
}

#modules{
    opacity: 50%;
}

.tagger{
    box-shadow: black 2px 2px;
    margin: 2px;
    padding: 2px;
    display: inline-block;
    background-color: lightblue;
    border-radius: 5px;
    border: black solid 2px;
    width: auto;
    opacity: 80%;
}



.carousel-indicators{
    z-index: 2;
    bottom: -3em;
}

.carousel-indicators li {
    background-color: black;
}

#back, #back2{
    position: absolute;
    left: -4em;
    top: 40%;
}

#next, #next2{
    position: absolute;
    right: -4em;
    top: 40%;
}

/*
#overlay {
 !*   display: flex;
    align-items: center;*!
    transition: .8s ease;
    position: fixed; !* Sit on top of the page content *!
    width: 100%; !* Full width (cover the whole page) *!
    height: 100%; !* Full height (cover the whole page) *!
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; !* Black background with opacity *!
    z-index: 3; !* Specify a stack order in case you're using a different order for other elements *!
    overflow: hidden;
}
*/



#overlayContent{
    transition: .5s ease;
    width: 60vw;
    height: 100%;
    margin: auto;
}

#overlayWrapper{
    position: absolute;
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}

.square{
    background-color: white;
    height: 30vh;
}

#optionsContainer h3{
    top: 40%;
    position: relative;
}

#optionsContainer{
    border-radius: 20px;
}

#emailInput, #messageInput{
    width: 70%;
}

#emailInput input, #messageInput textarea{
    border: black solid 2px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

#messageInput textarea{
    height: 10em;
}

.modal-dialog{
    max-width: none;
    width: 80vw;
}

.modal-body{
    height: 70vh;
    overflow-y: scroll;
}

.projectThumbnail{
    height: auto;
    width: 60%;
}

.modal-content{
    max-height: 80vh;
}

.modalContainer .row:nth-child(odd){
    border-bottom: lightgray solid 5px;
}

.modalContainer .row{
    padding: 10px;
}

#emailbtn{
    width: 30%;
    background: white;
    border: black solid 2px;
    box-shadow: black 2px 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}


#earth{
    margin: auto;
    height: 30vh;
    width: auto;
    animation-name: rotate;
    animation-iteration-count:infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
}


.bottomButton{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#titleName{
    font-family: 'Amatic SC', cursive;
    text-shadow: none;
    color: white;
    font-size: 600%;
    margin: 0;
}

#exploreText{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 300%;
    margin: 0;
}

#titleDesc, #titleDescrip{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 300%;
}

#titleDescrip{
    font-size: 250%;
}

.fadeText{
    position: absolute;
    align-self: center;
    top: 48%;
    opacity: 0;
    font-weight: bold;
}

.fa-star{
    font-size: 40%;
    position: absolute;
    color: RGB(255,253,116);
    animation-name: stars;
    animation-iteration-count:infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes stars {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(2);
    }
    75% {
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
}

}

#sec_about{
    height: 100vh;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
/*    background-color: #ADD8E6;
    border-bottom: #192841 solid 5px;*/
  /*  background: rgb(82,205,255);
    background: linear-gradient(180deg, rgba(82,205,255,1) 0%, rgba(242,251,250,1) 85%, rgba(255,255,255,1) 100%);
*/}

#aboutContainer{
    padding-top: 4em;
}

#taggerSummary {
    margin: 0;
    width: 80%;
}


#tagCloudSection{
    overflow: hidden;
    float: right;
    padding:0;
    display: block;
    /*background-color: #FFE5B4;*/
}

#workContainer{
    text-align: left;
}

/*#summaryBackground{
    transform: skewY(11deg);
}*/

#tagCloudTitle{
    margin: 0.8em 0 0.5em;
}

#education{
 /*   background-color: #ADD8E6;*/
    margin-bottom: 0;
    padding: 1em;
}



/*
#projectsContent{
    transform: skewY(-11deg);
}*/

.contactInfoDiv{
    width: 80%;
    margin: auto;
}

.websiteLink{
    color: black;
}

.vAlign{
    align-self: center;
}

.websiteLink{
    word-break: break-all;
}

#work{
    background-color: white;
    margin-top: 0;
}

.titleID{
    margin: 0.3em 0 0 0;
}

.tagWrap{
    display: inline-block;
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.tagger{
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.tagWrap:hover .tagger{
    transform: rotateY(360deg);
    background-color: #ffeae2;
}

.textDarkBackground{
    color: lightblue;
}


@media only screen and (max-width: 768px) {

    body{
        font-size: 100% !important;
    }

    #profilePic{
        width: 50%;
    }

    #profilePic:hover{
        width: 60%;
    }

    #nextButton, #rightButton, #maximiseButton{
        display: none;
    }

    p, h4, h5, h3, h2{
        text-align: center !important;
    }


    body{
        margin: 0px;
        padding: 0 0 10vh 0;
    }

    .contactInfoDiv{
        width: 95%;
    }

    #contact{
        margin-top: 0;
        padding-top: 0;
    }

    #titleDescrip, #titleName{
        font-size: 400%;
    }

    #taggerSummary{
        width: 100%;
    }

    .tagWrap, .bottomButton{
        font-size: 75%;
    }

    h1, h2{
        font-size: 200%;
    }

    #titles{
        transition: .4s ease-in;
        height: 20vh;
        margin-top: 30vh;
    }

    #educationContainer{
        width: 95%;
    }

    .modal-dialog{
        width: 96vw;
    }

    .websiteLink{
        font-size: 70%;
    }

    .titleID{
        display: none !important;
    }

    nav{
        bottom: 0 !important;
        width: 100% !important;
        height: 4em !important;
    }

    #sections{
        flex-direction: row;
        width: 100%;
    }

    .expandMenu{
        text-align: center !important;
    }

    #expander, #homer{
        display: none;
    }

    #externalLinks{
        display: none;
    }

    #sections{
        height: 100%;
    }

    nav li{
        margin: auto;
    }

    #projectRow .col-12{
        margin-bottom: 2em;
    }

    #workContainer{
        text-align: center;
    }

    #picDiv{
        padding-bottom: 2em;
    }

    #taggerSummary, #taggerSummary .tagWrap{
        display: none;
    }

}

#intro{
    overflow: hidden;
}

#intro_sec{
    height: 100%;
    padding: 0;
    margin: 0;
}

#introContainer{
    background: #192841;
    height: 100%;
    max-width: none;
}


#introContainer .col{
    border: black solid 1px;
    padding: 0;
}

/*#introContainer .h2{
    z-index: 4;
}*/

#introContainer .col:hover{
    border: black solid 8px;
    transition: all 1s;
}

#introContainer .col:hover .backgroundImage{
    transition: all 1s;
    filter: blur(3px);
}

#introContainer .row{
    height: 30vh;
}

#introContainer h2{
    background: white;
    border: black solid 2px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 10%;
    width: 60%;
    opacity: 80%;
}

.backgroundImage{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
}

.highlighted{
    border: white solid 3px;
    background-color: white;
}

.highlighted a{
    color: black;
}

section{
    display: none;
}

#intro_sec{
    display: block;
}

.centreText{
    text-align: center;
    margin: 0;
}

#skills, #tagCloudSection{
    overflow: hidden;
    padding: 0;
}

#skills{
    transition: all 1s;
}


#leftButton-active~#tagCloudSection{
    animation-duration: 1s;
    animation-name: slideout;
}

@keyframes slideout {
    from {
        margin-left: 0%;
        width: 100%;
    }

    to {
        margin-left: 100%;
        width: 300%;
    }
}



#tagCloudSection{
    display: none;
    animation-duration: 1s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#tagCloudSection{
    width: 0;
    position: absolute;
    top: 2em;
}