@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body{
    font-family: 'Montserrat', sans-serif;
}

.navStyleExpand{
    min-width: 12em;
    width: 20%;
}

.navStyleMin{
    width: 4vw;
    min-width: 3em;
}

.beam{
    position: absolute;
    height: 120%;
    width: 0.7em;
    top: -5em;
}

.beam1{
    right: -0.7em;
    opacity: 80%;
    border-right: solid 2px black;
    border-left: solid 2px black;
}

/* .beam2{ 
    left: 0;
    border-right: solid 1px black;
}

.beam3{
    right: 15%;
    rotate:5deg;
} */

.plant{
    /* background-image: url("../../images/hangingPlant2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

#navID{
    background-color: #accb9b65;
    /* #accb9b93; */
       /* background-color: #013220e1; */
       /* bfd8b8 */
       /* #042519bc */

    padding: 0.5em 0.3em;
    font-family: "Montserrat", sans-serif;
    transition: all 0.5s;
    z-index: 2;
    position: fixed;
    left: 0em;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    justify-content: stretch;
}

.sectionLabel{
    display: none;
    position: absolute;
    left: 4.5em;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    border: black solid 2px;
}

nav ul{
    padding: 0;
    list-style: none;
}

#externalLinks{
    border-top: white solid 4px;
    width: 80%;
    margin: auto;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shelfI{
    width: 100%;
}

.sectionLabel h5{
    margin: 0;
}

nav a{
    width: 100%;
    margin: auto;
}

.shelfDiv{
    position: relative;
    top: -0.3em;
    height: 0;
    -webkit-filter: drop-shadow(-4px 3px 1px black);
    filter: drop-shadow(-4px 3px 1px black);
}

nav img{
    position: relative;
    width: 100%;
    height: 3em;
}

nav li{
    /* background-image: url("../../images/shelfE.png");
    background-size: cover; */
    display: grid;
    margin: 0.5vh auto;
    height: auto;
    min-height: 5vh;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    background-color: white;
    position: relative;
    overflow: hidden;
    border: #013220 3px solid;
    color: #013220;
    -webkit-filter: drop-shadow(-4px 3px 1px black);
    filter: drop-shadow(-1px 1px 1px black);
    z-index: 6;
    /* background-color: rgba(115, 63, 37, 0.535); */
    /* border: #013220 solid 3px; */
}

.expandLabel{
    color: white;
}

.expandMenu{
    width: 90%;
    margin: auto;
    text-align: left;
}

.highlightedNavComp{
    color: white;
    background-color: #013220;
    border: black solid 3px;
}

nav li:hover{
    color: white;
    background-color: #013220;
    border: black solid 3px;
}

/* nav:hover{
    overflow: hidden;
} */

.textOptions{
    display: block !important;
    float: right;
    color: green;
}

.expandID{
    position: relative;
    height: auto;
    width: 100%;
}

.divdiv{
    width: 100%;
    height: 100%;
}

h5{
    margin: 0;
    transition: all 0.2s;
    display: inline-block;
    position: relative;
}

.sideIcon{
    font-size: 3.5vh;
    float: left;
    width: 20%;
    position: relative;
}

.sideIcon svg{
    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(1px 1px 1px black);
}

.sideIconMin{
    font-size: 3.5vh;
    position: relative;
  
}

.sideNavTitle{
    width: 100%;
    font-size: 2vh;
    text-align: center;
    align-self: flex-end;
    color: black;
}

.sideTitle{
    float: right;
    width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    margin-right: 1em;
    font-size: 2vh;
}

@media screen and (max-width: 700px) {

    .sideIcon, .sideIconMin{
        font-size: 2vh;
    }
    .sideTitle, .side{
        font-size: 2vh;
    }

    .navStyleMin{
        min-width: 4em;
    }
    
}


@media screen and (min-height: 1000px) {
    
    .sideNavTitle, .side, .sideTitle{
        font-size: 22px;
    }
    
    .sideIcon, .sideIconMin{
        font-size: 26px;
    }
    
    .navStyleMin{
        min-width: 4em;
    }
}


.importantDisplay{
    opacity: 100% !important;
}

.sectionLabel{
    display: none;
}

.displayNone{
    display: none !important;
}