:root {
    overflow: hidden;
}
/* p{
    font-size: 18px;
} */

.flexEnd{
    align-self: flex-end;
    text-align: center;
}

#landingPage{ 
    height: 100vh;  
    overflow: hidden;
    width: 100%;
    /* position: absolute;
    z-index: 1;
    background-color: inherit; */
    /* background-image: url("../../images/plantBackground.jpg"); */
    background-size: contain;
}

#catImg {
    pointer-events: none;
    height: 40vh;
    position: absolute;
    bottom: 0;
    /* -webkit-filter: drop-shadow(-4px 3px 1px black);
    filter: drop-shadow(-4px 3px 1px black); */
    -webkit-filter: drop-shadow(40px 40px 40px grey);
    filter: drop-shadow(0px 0px 5px black);
}

#landingPage .allPages {
    display: grid;
    place-items: center;
}

#landingPage section, #landingPage section .allPages{
    height: 100%;
}


#titleDiv{
    position: relative;
    border-right: solid 2px  #192841;
}

#picRow{
    position: relative;
    top: 2em;
}

.iconTitle{
    font-size: 4vw;
}

#aboutInfo{
    position: relative;
    top: -2.2em;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
}

#bottomBlock{
    border-top: 2px solid black;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9.5vh;
    background-color:#013220;
    z-index: 3;
}

.linkContainer {
    /* display: grid;
    place-items: center; */
} 



#linkRow {
    display: inline-block;
    justify-content: stretch;
} 


.linkBox{
    z-index: 8;
    -webkit-filter: drop-shadow(-1px 3px 1px grey);
    filter: drop-shadow(-1px 3px 1px grey);
    background-color: floralwhite;
    width: 10vw;
    max-width: 8em;
    min-width: 4em;
    aspect-ratio: 1/1;
    border: black solid 2px;
    border-radius: 20px;
    margin: 0.5em 1em;
    display: inline-block;
    place-content: center;
    overflow: hidden;
    vertical-align:middle;
    transition: all 0.2s linear;
    background-color: white;
}

.linkBox:hover {
    color: white;
    background-color: #013220;
    position: relative;
    z-index: 10000;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-name: wiggle;
    animation-iteration-count: infinite;
    /* transition: all 1s ease; */
    /* transition: background-color 0.5s linear; */
}

.linkBox:hover svg, .linkBox:hover h5 {
    color: white;
}

@keyframes wiggle {
    from {
    }

    25%{
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0);
    }

    75%{
        transform: rotate(-5deg);
    }

    to {
      transform: rotate(0);
    }
  }

.innerLink {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.linkBox a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: black;
}

.linkBox svg{
    color: #013220;
}

/* 
.tagger{
    -webkit-filter: drop-shadow(2px 2px 2px #666666);
    filter: drop-shadow(2px 2px 2px #666666);
    margin: 2px;
    padding: 2px;
    display: inline-block;
    border-radius: 5px;
    border: black solid 2px;
    width: auto;
    opacity: 60%;
}



.tagger{
    animation: tagger 1s linear infinite alternate;
} */
/* 
@keyframes tagger {
    0%{
        transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }


#textOverlay{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 80%;
    /* overflow: hidden; */

    #topTitles{
        padding-bottom: 2em;
          -webkit-filter: drop-shadow(2px 2px 2px #666666);
    filter: drop-shadow(2px 2px 2px #666666);
    }

    #topTitles{
        overflow: hidden;
    }


#exploreText{
    width: 60%;
    font-size: 150%;
    background-color: white;
    margin: auto;
    /* position: relative;
    top: 8vh; */
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    z-index: 5;
    margin-top: 0;
    /* -webkit-filter: drop-shadow(-1px 1px 1px #666666);
    filter: drop-shadow(-1px 1px 1px #666666); */
}

#exploreText:hover{
    /* background-color: #5C4033; */
    opacity: 100%;
    /* color: floralwhite; */
    border: black solid 3px;
    text-decoration: underline;
}

#exploreText, .pageArrows{
        cursor: pointer;
}

.bottomOfPage{
    z-index: 4;
    bottom: 7vh;
    left: 0;
    margin: auto;
    width: 100vw;
    position: absolute;
    display: grid;
    place-items: center;
}

.bottomOfPage h2{
    width: 40%;
    margin: auto;
}

#aboutInfoRow{
    z-index: 2;
    align-self: center;
}

#profilePic{
    overflow: hidden;
    width: 35%;
    margin: auto;
    position: relative;
    top: 1em;
    z-index: 1;
}

#lloydsLogo{
    width: 13em;
}

#blurb{
    position: relative;
    border-top: black solid 2px;
    z-index: 2;
    background-color: white;
    height: 3em;
    width: 80%;
    margin: auto;
}

#profilePic img{
    width: 100%;
    margin: auto;
    z-index: 1;
    -webkit-filter: drop-shadow(2px 2px 2px #666666);
        filter: drop-shadow(2px 2px 2px #666666);
}



.pageArrows{
    color: white;
    font-size: 8vh;
    -webkit-filter: drop-shadow(2px 2px 2px #666666);
    filter: drop-shadow(2px 2px 2px #666666);
    margin: 0;
}


body{
    height: 100%;
    transition: all 0.5s;
}



#reactBody{
    overflow:hidden;
    transition: all 0.5s;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-color: floralwhite;
}

.bodyExpand{
    transition: all 0.5s;
    padding-left: 20%;
}

.bodyMin{
    transition: all 0.5s;
    padding-left: 3em;
}

.allPages{
    text-align: center;
    transition: all 3s smooth;
}

.inProgress{
    width: 25vw;
    position: absolute;
    left: 38vw;
    top: 5vh;
}

#exploreText{
    text-align: center;
}

.iconHeading{
    text-align: center;
}

@media screen and (max-width: 700px) {

    /* .linkBox{
        width: 15vw;
    } */
    .bodyExpand{
        padding-left: 20%;
    }

    #landingPage{
        background-size: cover;
    }

    .bodyMin{
        padding-left: 3em;
    }

    .insidePage{
        padding: 0;
        padding-bottom: 4em;
    }

    .iconTitle{
        font-size: 8vw;
    }

    .allPages{
        width: 95%;
    }
}