
.allPages{
    transition: all 1s;
    /* scroll-behavior: smooth;
    overflow-y: auto;
    height: 100vh; */
}

#picRow{
    margin: 0;
    width: 100%;
    display: grid;
    place-items: center;
}

.allPages section{
    width: 100%;
    margin: auto;
    position: relative;
}

.topOfPageTitle{
    color: white;
    position: relative;
    top: 1em;
    font-size: 5vh;
}

.profilePic img{
    width: 100%;
    position: relative;
}

.circleImg{
    position: absolute;
    top: 1vh;
    background-color: white;
    overflow: hidden;
    border: black solid 2px;
    border-radius: 100px;
    width: 25vh;
    height: 25vh;
}

#catPic {
    transform: rotate(5deg);
}

#introContainer .row {
    margin-bottom: 2em;
}

.circleImg img{
    width: 100%;
    position: relative;
    left: 15%;
}


.restOfIntro{
    position: relative;
    top: 35vh;
}

.photoContainer {
    position: relative;
    /* top: -5vh; */
   margin: auto;
    width: 70%;
   
}